node_modules
.env
/dist
service-account-key.json
service-account2-key.json
firestore.indexes.json
firestore.rules
firestore.indexes.json
firebase.json
tsconfig.tsbuildinfo
.terraform
.terraform.lock.hcl
variables.auto.tfvars
cost-optimization-guide.md
monitor-costs.sh
update.sh
cache-[implementation|comparison]*
firestore-*.md
redis-[cache|cloud]*
cloudbuild.yaml
cloud_build.sh
deploy-copy.sh
