node_modules
.env
service-account*.json
firestore.indexes.json
firestore.rules
firestore.indexes.json
firebase.json
tsconfig.tsbuildinfo
.terraform
.terraform.lock.hcl
variables.auto.tfvars
cost-optimization-guide.md
monitor-costs.sh

cache-[implementation|comparison]*
firestore-*.md

redis-[cache|cloud]*
